 body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25em;
  color: #C0B283;
  margin-top: 10px;
  background-color: #FFFFFF;
}

h1  {
  font-family: 'Rammetto One', cursive;
    color: #e90306;
    text-shadow: -4px 3px 4px black;

}

h2  {
  font-family: 'Rammetto One', cursive;
  color: #e90306;
  text-shadow: -4px 3px 4px black;
}

.lunch_specials {
  text-align: center;
  background-color: #FFFFFF;
  color: #373737;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    padding-left: 200px;
    padding-right: 200px;

}
.desserts {
  text-align: center;
  color: black;
}

.menupics {
  text-align: center;
}
.daily_specials {
  text-align: center;
  background-color: #FFFFFF;
  color: #373737;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;
   padding-left: 200px;
   padding-right: 200px;
}
.daily_Header{
  padding: 36px;
  margin: 15px
}
.daily_Header h1 {
text-align: center;
 font-size: 4em;
}
ul img {
  width: 80px;
}
ul {
  list-style: none;
  display:inline;

}
.price{
position: absolute;
right: 15px;
}
.catering{
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
   -moz-column-count: 3; /* Firefox */
   column-count: 3;
   column-gap: 10px;

   margin-top:40px;
   margin-left: 40px

}




.meat{
  text-align: center;
  break-before: avoid-column;

}
.meatsHeader{
  line-height: 3px;
}
.sides{
text-align: center;
  margin-bottom: 20em;
}
.dessertsCatering{
break-inside:avoid;
text-align: center;
}
.sidesHeader, .meatsHeader,.dessertsHeader {
  margin-right: 5em;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 4em;
  line-height: 1em;
  margin-left: 3em;
}

.sidesHeader:before,.meatsHeader:before, .meatsHeader:after, .sidesHeader:after {
  background-color: #ddd;
  content: '\a0';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.5em;
}

.sidesHeader:before, .meatsHeader:before {
  margin-right:10px;
}
.sidesHeader:after, .meatsHeader:after {
  margin-left:10px;
}
.daily {
    text-align: center;
    background-color: white;
    display: inline-block;
    color: #C0B283;
}
#google-reviews{
  display: block;
}


.food {

}
.info{
  display: block;
  float:right;
}

h1, h2, h3, h4, h5 {
  margin: 5px;
}

nav, footer, section, div {
  box-sizing: border-box;
}

.menu_pics img {
  width: 50%;
}

.hours {
  text-align: center;
  line-height: 1px;
  color: black;
}
.hours i {
  font-size: 12px;
  color: #e90306;
}
/*
 *
 * Header
 *
 */

.banner {
  background-color: white;
  box-sizing: border-box;
  background-image: url("../images/chickenBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  line-height:7;
}

 .banner h1{
  font-size: 4em;
  text-shadow: -5px 6px 0px black;
}


.nav {
  display: flex;
  flex-flow: row wrap;
  width: 93%;
  position: absolute;
  top:0;

}

.nav__list {
  width: auto;
  padding: 0;
}

.nav__item  {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 5px;
  padding: 12px;
  text-transform: uppercase;

}
.nav__item1  {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  line-height: 52px;
  flex-grow:1;
  margin: 0;

}

.nav a {
  text-decoration: none;
  color: white;
  padding: 1.5em;

}

.nav a:hover {
  text-decoration: underline;
  color: #e90306;

}
/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Footer
 *
 */

footer {
  background-color: black;
  margin: 5px;
  text-align: center;
  color: #e90306
}

footer h1 {
  color: white;
  margin:10px
}
th {
  text-align: right;
  color: blue;
}

#map {
        height: 200px;
        width: 25%;
       }
 /*
  *
  * responsive design
  *
  */


@media only screen and (max-width: 620px) {
    .lunch_specials , .daily_specials{
        font-size: 12px;
        line-height: 1em;
        column-count: 2;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
         -moz-column-count: 2;
         padding: 0;
    }
  }

    @media only screen and (max-width: 499px) {
        .daily_Header {
        font-size: 10px;
        }
        .hours {
        font-size: 13px;

}
}

@media only screen and (max-width: 1170px) {
          .catering {
          margin-left:0;


          }

}
